<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style.css" />

  <title>Ratitos Admin</title>

</head>

<body>
  <div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
      <div class="logo">
        <h4 class="text-light font-weight-bold">Ratitos</h4>
      </div>
      <div class="menu">
        <a href="#" class="d-block p-3 text-light"><i class="icon ion-md-apps mr-2 lead"></i>Dashboard</a>
        <a href="registro" class="d-block p-3 text-light"><i class="icon ion-md-person mr-2 lead"></i>Admin</a>
        <a href="restaurantes" class="d-block p-3 text-light"><i class="icon ion-md-home mr-2 lead "></i>Restaurantes</a>
        <a href="empleados" class="d-block p-3 text-light"><i class="icon ion-md-contacts mr-2 lead"></i>Empleados</a>
        <a href="#" class="d-block p-3 text-light"><i class="icon ion-md-settings mr-2 lead"></i>Configuracion</a>

      </div>

 
    </div>
    <div class="w-100">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <form class="form-inline position-relative my-2 d-inline-block">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-search position-absolute" type="submit"><i class="icon ion-md-search"></i></button>
          </form>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img src="../img/localsalon.JPG" class="img-fluid rounded-circle avatar mr-2" alt="">
                  Jorge Diaz
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Mi perfil</a>
                  <a class="dropdown-item" href="#">Sescripción</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Cerrar sesión </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="content">
        <section cñlass=" py-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-9">
                <h1 class="font-weight-bold mb-0 ">Bienvendo</h1>
                <p class="lead text-muted">Revisa la última información</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 align-self-center text-center w-100">
                <button class="btn btn-primary">Descarga archivo</button>
              </div>

            </div>
          </div>
        </section>


        <div class="d-flex">
          <div class="chart-container chart1">
            <canvas id="myChart"></canvas>
          </div>

          <div class="chart-container chart2">
            <canvas id="myChart1"></canvas>
          </div>
        </div>
        <section>
          <div class="container-fluid">
            <div class="card">
              <div class="row">
                <div class="col-lg-6 stat d-flex my-3">
                  <div class="mx-auto text-center">
                    <table>
                      <thead>
                        <tr class="bg-primary text-white">
                          <h6 class="text-muted my-3">Administradores</h6>
                          <th>ID</th>
                          <th>EMAIL</th>
                          <th>USERNAME</th>
                          <th>ACCIONES</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% administradores.forEach((admin) => { %>
                          <tr>
                            <td><%= admin.id %></td>
                            <td><%= admin.email %></td>
                            <td><%= admin.username %></td>
                            <td>
                              <a href="/updateAdmin/<%= admin.id %>" class="btn btn-outline-info">editar</a>
                              <a href="/deleteAdmin/<%= admin.id %>" class="btn btn-outline-info">borrar</a>
                            </td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="mx-auto text-center">
                  <table>
                    <thead>
                      <tr class="bg-primary text-white">
                        <h6 class="text-muted my-3">Empleados</h6>
                        <th>DNI</th>
                        <th>NOMBRE</th>
                        <th>APELLIDOS</th>
                        <th>PUESTO</th>
                        <th>ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% empleados.forEach((empleados) => { %>
                        <tr>
                          <td><%= empleados.dni %></td>
                          <td><%= empleados.firstName %></td>
                          <td><%= empleados.lastName %></td>
                          <td><%= empleados.position %></td>
                          <td>
                            <a href="/updateEmpleados/<%= empleados.id %>" class="btn btn-outline-info">editar</a>
                            <a href="/deleteEmpleados/<%= empleados.id %>" class="btn btn-outline-info">borrar</a>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>



        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
          const ctx = document.getElementById('myChart');

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              datasets: [{
                label: 'Ventas Productos',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        </script>


        <script>
          const xValues = [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150];
          const yValues = [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15];

          new Chart("myChart1", {
            type: "line",
            data: {
              labels: xValues,
              datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: yValues
              }]
            },
            options: {
              legend: { display: false },
              scales: {
                yAxes: [{ ticks: { min: 6, max: 16 } }],
              }
            }
          });
        </script>
      </div>
      

    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>