<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/local') %>
    <%- include('partials/price') %>
    <%- include('partials/menu') %>
    <%- include('partials/separador') %>
    <%- include('partials/nosotros') %>
    <%- include('partials/separador2') %>
    <%- include('partials/piepagina') %>
    <%- include('partials/footer') %>
    
    <!-- Incluye la ventana emergente (modal) -->
    <%- include('partials/popup') %>

    <!-- Incluye el script para mostrar la ventana emergente (modal) -->
    <script src="../app1.js"></script>
</body>
</html>
